.container{
    display: flex;
    justify-content: center;

}
.headd_div{
    display: flex;
    background-color: rgb(211, 207, 207);
    height: 40px;
    justify-content: space-between;
    padding: 10px;
}
.list_div{
    border: 2px solid;
    width: 500px;
}

.chating_div{
    border: 2px solid;
    width: 700px;
}